# Variables obligatorias
TELOXIDE_TOKEN=your_telegram_bot_token_here
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_BASE_URL=https://paas.cima20.io
ADMIN_TOKEN=genera_un_token_seguro_aqui
RUST_LOG=info
